# FCMG

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = os.chdir('/Users/nguyenthientoan/Data_Analyst_Project/dataset')

In [4]:
os.getcwd()

'/Users/nguyenthientoan/Data_Analyst_Project/dataset'

In [5]:
df = pd.read_csv('FMCG_data.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ware_house_ID                 25000 non-null  object
 1   WH_Manager_ID                 25000 non-null  object
 2   Location_type                 25000 non-null  object
 3   WH_capacity_size              25000 non-null  object
 4   zone                          25000 non-null  object
 5   WH_regional_zone              25000 non-null  object
 6   num_refill_req_l3m            25000 non-null  int64
 7   transport_issue_l1y           25000 non-null  int64
 8   Competitor_in_mkt             25000 non-null  int64
 9   retail_shop_num               25000 non-null  int64
 10  wh_owner_type                 25000 non-null  object
 11  distributor_num               25000 non-null  int64
 12  flood_impacted                25000 non-null  int64
 13  flood_proof                   25000 non-null  int64
 14  electric_supply               25000 non-null  int64
 15  dist_from_hub                 25000 non-null  int64
 16  workers_num                   24010 non-null  float64
 17  wh_est_year                   13119 non-null  float64
 18  storage_issue_reported_l3m    25000 non-null  int64
 19  temp_reg_mach                 25000 non-null  int64
 20  approved_wh_govt_certificate  24092 non-null  object
 21  wh_breakdown_l3m              25000 non-null  int64
 22  govt_check_l3m                25000 non-null  int64
 23  product_wg_ton                25000 non-null  int64
dtypes: float64(2), int64(14), object(8)
memory usage: 4.6+ MB

# Cleaning

#### Missing 
#### Duplication
#### Datatype validation
#### Convert categorical variables

In [7]:
df.head()

,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,num_refill_req_l3m,transport_issue_l1y,Competitor_in_mkt,retail_shop_num,wh_owner_type,distributor_num,flood_impacted,flood_proof,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported_l3m,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown_l3m,govt_check_l3m,product_wg_ton
0,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,2,4651,Rented,24,0,1,1,91,29.0,NaN,13,0,A,5,15,17115
1,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,4,6217,Company Owned,47,0,0,1,210,31.0,NaN,4,0,A,3,17,5074
2,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,4,4306,Company Owned,64,0,0,0,161,37.0,NaN,17,0,A,6,22,23137
3,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,2,6000,Rented,50,0,0,0,103,21.0,NaN,17,1,A+,3,27,22115
4,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,2,4740,Company Owned,42,1,0,1,112,25.0,2009.0,18,0,C,6,24,24071

In [8]:
df.dtypes

Ware_house_ID                    object
WH_Manager_ID                    object
Location_type                    object
WH_capacity_size                 object
zone                             object
WH_regional_zone                 object
num_refill_req_l3m                int64
transport_issue_l1y               int64
Competitor_in_mkt                 int64
retail_shop_num                   int64
wh_owner_type                    object
distributor_num                   int64
flood_impacted                    int64
flood_proof                       int64
electric_supply                   int64
dist_from_hub                     int64
workers_num                     float64
wh_est_year                     float64
storage_issue_reported_l3m        int64
temp_reg_mach                     int64
approved_wh_govt_certificate     object
wh_breakdown_l3m                  int64
govt_check_l3m                    int64
product_wg_ton                    int64
dtype: object

# EDA

In [9]:
# Split the dataset based on the "WH_capacity_size" and "flood_impacted" columns
split_data = {}

# Unique values in the "WH_capacity_size" column
unique_capacity_sizes = df['WH_capacity_size'].unique()

# Unique values in the "flood_impacted" column
unique_flood_impacted = df['flood_impacted'].unique()

In [10]:

# Create a DataFrame for each combination of values in the two columns
for capacity_size in unique_capacity_sizes:
    for flood_impact in unique_flood_impacted:
        split_key = f"Capacity_{capacity_size}_FloodImpacted_{flood_impact}"
        split_data[split_key] = df[(df['WH_capacity_size'] == capacity_size) & (df['flood_impacted'] == flood_impact)]

# Access the splits using keys in the split_data dictionary
# For example, to access the split for capacity size 'Large' and flood impacted 'Yes':
# split_data['Capacity_Large_FloodImpacted_Yes']

In [11]:
# Split the dataset based on the "WH_capacity_size" and "flood_impacted" columns
split_data = {}

# Unique values in the "WH_capacity_size" column
unique_capacity_sizes = df['WH_capacity_size'].unique()

# Unique values in the "flood_impacted" column
unique_flood_impacted = df['flood_impacted'].unique()

In [12]:

# Iterate through combinations and check if they exist in the data
for capacity_size in unique_capacity_sizes:
    for flood_impact in unique_flood_impacted:
        subset = df[(df['WH_capacity_size'] == capacity_size) & (df['flood_impacted'] == flood_impact)]
        if not subset.empty:
            split_key = f"Capacity_{capacity_size}_FloodImpacted_{flood_impact}"
            split_data[split_key] = subset

# Check if there are valid splits before concatenating
if split_data:
    combined_data = pd.concat(split_data.values(), ignore_index=True)
else:
    print("No valid splits found in the dataset.")

In [13]:
combined_data

,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,num_refill_req_l3m,transport_issue_l1y,Competitor_in_mkt,retail_shop_num,wh_owner_type,distributor_num,flood_impacted,flood_proof,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported_l3m,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown_l3m,govt_check_l3m,product_wg_ton
0,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,2,4651,Rented,24,0,1,1,91,29.0,NaN,13,0,A,5,15,17115
1,WH_100005,EID_50005,Rural,Small,West,Zone 1,8,0,2,5053,Rented,37,0,0,1,152,35.0,2009.0,23,1,A+,3,3,32134
2,WH_100008,EID_50008,Rural,Small,South,Zone 6,8,1,4,5381,Rented,42,0,0,1,124,22.0,2013.0,13,1,A+,5,2,18082
3,WH_100009,EID_50009,Rural,Small,South,Zone 6,4,3,3,3869,Company Owned,35,0,0,0,78,43.0,NaN,6,0,C,6,2,7130
4,WH_100014,EID_50014,Rural,Small,West,Zone 6,8,1,4,5022,Rented,68,0,0,1,129,37.0,NaN,6,0,B,3,9,7055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,WH_124902,EID_74902,Rural,Mid,West,Zone 2,0,0,2,5140,Company Owned,65,1,0,1,141,92.0,NaN,0,0,NaN,0,12,3146
24996,WH_124916,EID_74916,Urban,Mid,North,Zone 3,0,1,4,4887,Rented,63,1,0,0,209,25.0,NaN,23,0,A+,4,27,29107
24997,WH_124944,EID_74944,Rural,Mid,North,Zone 3,8,0,2,5595,Rented,50,1,1,0,77,26.0,2009.0,18,1,A+,6,27,26065
24998,WH_124957,EID_74957,Urban,Mid,West,Zone 3,4,0,6,5092,Company Owned,70,1,0,1,182,NaN,2007.0,28,1,A+,5,19,39105
24999,WH_124982,EID_74982,Rural,Mid,West,Zone 4,7,1,6,4347,Company Owned,27,1,1,1,78,32.0,1996.0,30,0,B+,6,26,36058

In [14]:
unique_capacity_sizes

array(['Small', 'Large', 'Mid'], dtype=object)

In [15]:
unique_flood_impacted

array([0, 1])

In [16]:
L0 = df[(df['WH_capacity_size'] =='Large') & (df['flood_impacted'] == 0) ]
L0.shape

(9192, 24)

In [17]:
M0 = df[(df['WH_capacity_size'] =='Mid') & (df['flood_impacted'] == 0) ]
M0.shape

(9040, 24)

In [18]:
S0 = df[(df['WH_capacity_size'] =='Small') & (df['flood_impacted'] == 0) ]
S0.shape

(4314, 24)

In [19]:
L1 = df[(df['WH_capacity_size'] =='Large') & (df['flood_impacted'] == 1) ].shape
L1

(977, 24)

In [20]:
M1 = df[(df['WH_capacity_size'] =='Mid') & (df['flood_impacted'] == 1) ].shape
M1

(980, 24)

In [21]:
S1 = df[(df['WH_capacity_size'] =='Mid') & (df['flood_impacted'] == 1) ].shape
S1

(980, 24)

In [22]:
L0.head()

,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,num_refill_req_l3m,transport_issue_l1y,Competitor_in_mkt,retail_shop_num,wh_owner_type,distributor_num,flood_impacted,flood_proof,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported_l3m,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown_l3m,govt_check_l3m,product_wg_ton
1,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,4,6217,Company Owned,47,0,0,1,210,31.0,NaN,4,0,A,3,17,5074
6,WH_100006,EID_50006,Rural,Large,West,Zone 6,8,0,4,4449,Company Owned,38,0,0,1,77,27.0,2010.0,24,0,B,3,6,30142
7,WH_100007,EID_50007,Rural,Large,North,Zone 5,1,0,4,7183,Rented,45,0,0,0,241,23.0,NaN,18,0,C,6,24,24093
10,WH_100010,EID_50010,Rural,Large,North,Zone 6,7,1,3,4623,Company Owned,31,0,0,1,150,37.0,1999.0,17,0,B+,4,6,21125
11,WH_100011,EID_50011,Rural,Large,North,Zone 6,7,0,5,4627,Rented,40,0,0,0,225,16.0,2017.0,11,0,B,2,28,14115

In [23]:
L0['product_wg_ton'].sum()

203405853

L0: có 9192 wh với năng suất 203,405,853 (40.76% wh với 40.80%)
M0: có 9040 wh với năng suất 200,322,825 (40.09% wh với 40.18%)
S0: có 4314 wh với năng suất 94,795,774  (19.13% wh với 19.10%)

In [24]:
M0['product_wg_ton'].sum()

200322825

In [25]:
S0['product_wg_ton'].sum()

94795774

In [26]:
4314 /(9192 + 9040 + 4314)

0.19134214494810609

In [27]:
94795774 / (203405853 +200322825 + 94795774)

0.19015270689270022

L0 và M0 có sự ngang bằng. Vậy có nên duy trì wh Large không vì Large sẽ tốn chi phí duy trì hơn trong khi số lương ship bằng nhau